@import '../../../../assets/scss/variables';

.menu{
    &__overlay{
        &__generic{
            transition: all 1s ease-in-out;
        }
        &__container{
            height: 100vh;
            width: 100vw;
            // border-radius: 50%;
            background-color: $color-yellow;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-self: start;
            position: absolute;
            top: 0;
            left: 0;
        }
        &__hidden{
            display: none;
        }
    }
}