@import '../../../../assets/scss/variables';

.menu{
    &__overlay{

        height: 100vh;
        width: 100%;
        flex-direction: column;
        justify-content: start;
        align-self: start;
        position: absolute;
        display: flex;
        z-index:5;
        top: 0;
        right: 0;

        &__generic{
            @extend .menu__overlay;
            position: fixed;
            transition: all 1.2s ease-in-out;
            background-color: $color-yellow;
            z-index: 1;
        }

        &__display{
            width: 100vw;
        }
        &__hidden{
            transition: all .5s ease-in-out;
            width: 0px;
        }

        &__container{
            @extend .menu__overlay;
            margin-top: 50px;
            height: auto;
        }
    }
}