@import '../../../../assets/scss/variables';

.sideText{
    &__container{
        display: flex;
        font-size: 50px;
        color:$color-black;
        font-family: $font-black;
        height: 100vh;
        justify-content: center;
        flex-direction: column;
        
        div{
            p{
                cursor: pointer;
                margin:0px;
                transition: all .3s ease-in-out;
            }
            &:hover{
                p{
                    color:$color-yellow;
                }
            }
        }

    }
}