.categorySlider{
    &__container{
        position: relative;
        height: 100%;
        display: flex;
        justify-content: center;
        &::after, &::before{
            content: ".";
            display: block;
            height: 0;
            overflow: hidden;
        }
        &::after{
            clear: both;
        }
    }

    &__list{
        transition: all 0.5s ease-in-out;
        display: flex;
        flex-direction: column;
        list-style: none;
        margin:0px;
        padding: 0px;
    }

    &__frame{
        min-width: 100%;
        margin: 0;
        position: relative;
        text-align: center;
        flex-direction: column;
        flex-flow: column;
    }
}