.categorySlider{
    &__container{
        position: relative;
        height: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        
    }

    &__list{
        transition: all 0.5s ease-in-out;
        display: flex;
        flex-direction: column;
        list-style: none;
        margin:0px;
        padding: 0px;
    }

    &__frame{
        min-width: 100%;
        margin: 0;
        position: relative;
        text-align: center;
        flex-direction: column;
        flex-flow: column;
    }
}