@import '../../../assets/scss/variables';



.bg{
    width:100%;
    height:100vh;
    
    &__normal{
        @extend .bg;
        background-color: $color-dark;
    }

    &__inverse{
        @extend .bg;
        background-color: $color-yellow;
    }

}