@import '../../../../assets/scss/variables';

.menuLink{

    font-size: 150px;    
    font-family: $font-black;
    cursor: pointer;
    line-height: 120px;
    padding:15px;
    margin-top: 50px;
    margin-left: 80px;
    transition: all .3s ease-in-out;

    &__generic{
        @extend .menuLink;
    }

    &__display{
        visibility: visible;
        opacity: 0.4;
    }

    &__hidden{
        visibility: hidden;
        opacity: 0;
    }
    &:hover{
        opacity: 1;
    }
}