// font style
@font-face {
    font-family: 'Montserrat Black';
    src: url(../fonts/Montserrat-Black.ttf) format('truetype');
}
@font-face {
    font-family: 'Montserrat SemiBold';
    src: url(../fonts/Montserrat-SemiBold.ttf) format('truetype');
}

//font variables
$font-thick: 'Montserrat Black';
$font-normal: 'Montserrat SemiBold';

// color variables
$color-yellow: #fcd804;
$color-dark: #111111;
$color-black: #000000;