@import './_variables.scss';



.bg{
    width:100vw;
    height:100vh;
    overflow-x: hidden;
    &__normal{
        @extend .bg;
        background-color: $color-dark;
    }

    &__inverse{
        @extend .bg;
        background-color: $color-yellow;
    }

}