@import '../../../../assets/scss/variables';

.categoryBox{
    width:27vw;
    height:27vw;
    min-width: 250px;
    min-height: 250px;
    background-color: $color-black;
    color: $color-dark;
    font-size: calc(100px + 11vw);
    font-family: $font-black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin:30px;
    cursor: pointer;
    
    &__container{
        @extend .categoryBox;
        p{
            width: min-content;
        }
    }

    &:hover{
        background-color: $color-yellow;
        text-align: left;
        font-size: calc(10px + 2vw);
    }
}